{% load static %}
<html>
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'spend_money/script.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'spend_money/style.css' %}">
  </head>

  <body>
    <noscript>You need to enable JavaScript to see the goods</noscript>
    <div id="root">
      <div class="container">
        <h1>
          <img
            src="https://neal.fun//Spend/billgates.png"
            class="sc-kgoBCf dzFgpK"
          />Spend Bill Gates' Money
        </h1>
        <div id="fund-total">
          $86,443,800,000 left
        </div>
        {% if products_list %}
        <div class="products">
          {% for product in products_list %}
          <div class="product">
            <!-- <img
              src="https://neal.fun/spend/minified/bigmac.jpg"
              class="product-img"
            /> -->
            <img src = "{{ product.product_image }}"/>
            <div class="product-title">{{ product.product_name }}</div>
            <div class="product-price">${{ product.product_price }}</div>
            <div class="" data-key="{{ product.product_name }}" data-price= "{{ product.product_price }}" >
              <button class="product-sell">Sell</button
              ><input
                pattern="\d*"
                type="{{ product.product_name }}"
                id="Big Mac"
                class="product-input"
                value="0"
                min="0"
              /><button class="product-buy">
                Buy
              </button>
            </div>
            <p class="error">Invalid number input</p>
          </div>
<!-- 
          <div class="product">
            <img
              src="https://neal.fun/spend/minified/cupofcoffee.jpg"
              class="product-img"
            />
            <div class="product-title">Cup of Coffee</div>
            <div class="product-price">$4</div>
            <div class="" data-key="Cup of Coffee" data-price="4">
              <button class="product-sell">Sell</button
              ><input
                pattern="\d*"
                type="number"
                id="Cup of Coffee"
                class="product-input"
                value="0"
              /><button class="product-buy">Buy</button>
            </div>
          </div>
          <div class="product">
            <img
              src="https://neal.fun/spend/minified/book.jpg"
              class="product-img"
            />
            <div class="product-title">Book</div>
            <div class="product-price">$15</div>
            <div class="">
              <button class="product-sell">Sell</button
              ><input
                pattern="\d*"
                type="number"
                id="Book"
                class="product-input"
                value="0"
              /><button class="product-buy">Buy</button>
            </div>
          </div>
          <div class="product">
            <img
              src="https://neal.fun/spend/minified/videogame.jpg"
              class="product-img"
            />
            <div class="product-title">Video Game</div>
            <div class="product-price">$60</div>
            <div class="">
              <button class="product-sell">Sell</button
              ><input
                pattern="\d*"
                type="number"
                id="Video Game"
                class="product-input"
                value="0"
              /><button class="product-buy">Buy</button>
            </div>
          </div>
          <div class="product">
            <img
              src="https://neal.fun/spend/minified/charity.jpg"
              class="product-img"
            />
            <div class="product-title">Charity</div>
            <div class="product-price">$100</div>
            <div class="">
              <button class="product-sell">Sell</button
              ><input
                pattern="\d*"
                type="number"
                id="Charity"
                class="product-input"
                value="0"
              /><button class="product-buy">Buy</button>
            </div>
          </div>
          <div class="product">
            <img
              src="https://neal.fun/spend/minified/headphones.jpg"
              class="product-img"
            />
            <div class="product-title">Headphones</div>
            <div class="product-price">$200</div>
            <div class="">
              <button class="product-sell">Sell</button
              ><input
                pattern="\d*"
                type="number"
                id="Headphones"
                class="product-input"
                value="0"
              /><button class="product-buy">Buy</button>
            </div>
          </div> -->
          {% endfor %}
        </div>
        {% else %}
        <p>No products are available.</p>
        {% endif %}
        <!-- end of products  -->

        <div class="shoppingCart">
          <h2>Your Shopping Spree</h2>
          <ul>
            <!-- <li>Big Mac, $2 x 3</li>
            <li>Big Mac, $2 x 3</li>
            <li>Big Mac, $2 x 3</li> -->
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>